### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/cmake-build-release/
/cmake-build-relwithdebinfo/
/.idea/
/test/cmake-build-release/
/test/cmake-build-relwithdebinfo/
/ext/stb/.github/
/ext/stb/data/
/ext/stb/deprecated/
/ext/stb/docs/
/ext/stb/tests/
/ext/stb/tools/
/reference/
